@import url(http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,700italic,700,300,400|Montserrat:400,700);
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

@-ms-viewport {
  width: device-width; }
@media only screen and (min-device-width: 800px) {
  html {
    overflow: hidden; } }
html {
  height: 100%; }

body {
  height: 100%;
  overflow: hidden;
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  color: #FFFFFF;
  background-color: #000000; }

.gold {
  background: #1e5799;
  background: -moz-linear-gradient(0deg, #c3922e 0%, #fbc926 50%, #e2c675 100%);
  background: -webkit-gradient(linear, left top, right bottom, color-stop(0%, #c3922e), color-stop(50%, #fbc926), color-stop(100%, #e2c675));
  background: -webkit-linear-gradient(-45deg, #c3922e 0%, #fbc926 50%, #e2c675 100%);
  background: -o-linear-gradient(-45deg, #c3922e 0%, #fbc926 50%, #e2c675 100%);
  background: -ms-linear-gradient(-45deg, #c3922e 0%, #fbc926 50%, #e2c675 100%);
  background: linear-gradient(135deg, #c3922e 0%, #fbc926 50%, #e2c675 100%); }

.bold-spaced, label, #modal .modal-container h2, #videos .audio-narrative span, #videos .see-all, #videos .video-container .video h2 {
  font-weight: 900;
  letter-spacing: 1px; }

.drop-shadow, #videos .audio-narrative, #videos .see-all, #videos .video-container .video {
  box-shadow: 0 4px 0 rgba(0, 0, 0, 0.25); }

.transition, .text-size,
.close, ::-webkit-scrollbar-track, ::-webkit-scrollbar-thumb, #modal .modal-container input[type=range]::-webkit-slider-runnable-track, #videos .audio-narrative, #videos .audio-narrative span, #videos .see-all, #videos .video-container, #videos .video-container .close, #videos .video-container .video, #detail-panel, #detail-panel .media-container .media-container-inner .zoomer, #detail-panel .media-container .media-container-thumbs li a, #detail-panel .media-container .media-container-thumbs li a span, #drawer-panel, #drawer-panel a img, #captions {
  transition: 0.5s all; }

body {
  font-family: 'Avenir LT Pro';
  font-weight: 300;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }

h1 {
  margin: 0 0 15px;
  font-size: 36px;
  line-height: 1.2; }
  h1 small {
    font-size: 21px;
    color: rgba(255, 255, 255, 0.9);
    font-weight: 700; }

h3 {
  margin: 0 0 10px;
  font-size: 16px;
  font-weight: 700;
  color: #3e3739; }

p {
  color: #231f20;
  margin: 0 0 10px;
  line-height: 1.6; }

a {
  cursor: pointer; }

label {
  margin: 25px 0 10px;
  display: block;
  font-size: 0.8rem;
  color: rgba(255, 255, 255, 0.9); }

html, body {
  overflow: hidden; }

* {
  -webkit-tap-highlight-color: transparent; }

#pano {
  width: 100%;
  height: 100%; }

.text-size,
.close {
  background: #fbc926;
  position: absolute;
  z-index: 9;
  font-size: 27px;
  text-decoration: none;
  color: white;
  text-align: center;
  line-height: 0.9;
  height: 60px;
  width: 60px;
  box-shadow: 0 4px 0 rgba(0, 0, 0, 0.1); }
  .text-size:hover,
  .close:hover {
    box-shadow: 0 4px 0 rgba(0, 0, 0, 0.2); }
  .text-size.top,
  .close.top {
    top: 0;
    left: 50%;
    margin-left: -30px; }
  .text-size.bottom,
  .close.bottom {
    bottom: 0;
    left: 50%;
    margin-left: -30px; }
  .text-size.left,
  .close.left {
    left: -60px;
    top: 60px; }
  .text-size.right,
  .close.right {
    right: -60px;
    top: 60px; }

.close:after {
  content: '';
  background: url("../images/close.svg") no-repeat;
  position: absolute;
  width: 22px;
  height: 24px;
  top: 18px;
  left: 20px;
  background-size: 100%; }

.text-size {
  background: #e83a17;
  width: 72px;
  height: 72px; }
  .text-size:after {
    content: '';
    background: url("../images/text-size-larger.svg") no-repeat;
    position: absolute;
    width: 44px;
    height: 32px;
    top: 22px;
    left: 15px;
    background-size: 100%; }
  .text-size.right {
    right: 0;
    top: auto;
    bottom: 60px; }

::-webkit-scrollbar {
  display: none; }

::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0.05);
  border-radius: 99px; }

::-webkit-scrollbar-thumb {
  border-radius: 99px;
  background: rgba(0, 0, 0, 0.1); }

#attract {
  display: block;
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: 999;
  transition: 0.5s all;
  opacity: 0; }
  #attract.in {
    opacity: 1; }
  #attract.hidden {
    display: none; }
  #attract .container {
    width: 1800px;
    height: 960px;
    margin: 60px auto 0;
    padding: 200px;
    text-align: center;
    box-sizing: border-box;
    background: rgba(0, 0, 0, 0.75); }
  #attract h1 {
    font-size: 42px;
    font-weight: 700;
    letter-spacing: 1px;
    margin-bottom: 300px;
    color: white; }
  #attract h2 {
    font-size: 21px;
    font-size: 700;
    color: white; }
  #attract img {
    width: 300px;
    height: auto;
    margin-bottom: 100px; }

#hidden {
  display: none; }

#preloader {
  display: block;
  width: 100%;
  height: 100%;
  background: white;
  position: fixed;
  z-index: 9999;
  transition: 0.5s all;
  opacity: 0; }
  #preloader.in {
    opacity: 1; }
  #preloader.hidden {
    display: none; }
  #preloader img {
    max-width: 100%;
    height: auto; }
  #preloader .container {
    width: 400px;
    margin: 400px auto 0;
    text-align: center; }
  #preloader .loading {
    background: #FFFFFF url(../images/ellipsis.svg) no-repeat center center;
    width: 80px;
    height: 40px;
    margin: 0 auto; }

#hidden {
  display: none; }

#modal {
  display: block;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.85);
  position: fixed;
  z-index: 999;
  transition: 0.5s all;
  opacity: 0; }
  #modal.in {
    opacity: 1; }
  #modal.hidden {
    display: none; }
  #modal .close {
    right: -64px; }
  #modal .modal-container {
    position: fixed;
    top: 80px;
    bottom: 80px;
    right: 240px;
    left: 240px; }
    #modal .modal-container video {
      width: 100%;
      height: auto;
      margin-bottom: 20px;
      border: 4px solid rgba(255, 255, 255, 0.5); }
    #modal .modal-container h2 {
      width: 50%;
      float: left;
      margin: 24px 0;
      font-weight: 300;
      font-size: 21px; }
      #modal .modal-container h2 strong {
        font-weight: 700;
        margin-left: 8px; }
    #modal .modal-container .video-mute-button {
      width: 64px;
      height: 64px;
      float: left;
      position: relative;
      background: url("../images/video-mute.svg") center center no-repeat;
      background-color: #FFF;
      background-size: 50%;
      border: 3px solid white;
      border-radius: 99px;
      margin-right: 25px; }
      #modal .modal-container .video-mute-button.muted {
        background-color: transparent;
        background-image: url("../images/video-unmute.svg"); }
        #modal .modal-container .video-mute-button.muted:after {
          content: '';
          border-bottom: 3px solid white;
          transform: rotate(-45deg);
          width: 65px;
          position: absolute;
          top: 31px;
          bottom: 32px; }
    #modal .modal-container .video-play-button {
      width: 64px;
      height: 64px;
      float: left;
      position: relative;
      background: url("../images/video-pause.svg") center center no-repeat;
      background-size: 32%;
      border: 3px solid white;
      border-radius: 99px;
      margin-right: 15px; }
      #modal .modal-container .video-play-button.paused {
        background: url("../images/video-play.svg") center center no-repeat;
        background-size: 32%; }
    #modal .modal-container .video-replay-button {
      width: 64px;
      height: 64px;
      float: left;
      position: relative;
      background: url("../images/video-replay.svg") center center no-repeat;
      background-size: 53%;
      border: 3px solid white;
      border-radius: 99px;
      margin-right: 15px; }
    #modal .modal-container input[type=range] {
      -webkit-appearance: none;
      width: 25%;
      height: 32px;
      float: right;
      top: 15px;
      position: relative;
      background: none; }
    #modal .modal-container input[type=range]::-webkit-slider-runnable-track {
      width: 96%;
      margin: 12px auto;
      height: 12px;
      position: relative;
      background: rgba(255, 255, 255, 0.25);
      border-radius: 8px; }
    #modal .modal-container input[type=range]::-webkit-slider-thumb {
      background: rgba(255, 255, 255, 0.75);
      -webkit-appearance: none;
      width: 12px;
      height: 12px;
      border-radius: 8px;
      position: absolute;
      left: 0;
      top: 0; }
    #modal .modal-container input[type=range]:focus {
      outline: none; }
    #modal .modal-container input[type=range]:focus::-webkit-slider-runnable-track {
      background: rgba(255, 255, 255, 0.5); }

#videos {
  position: fixed;
  bottom: 30px;
  left: 30px;
  width: 400px;
  z-index: 9; }
  #videos.active .video-container {
    height: 56px; }
  #videos.active .close {
    opacity: 0 !important; }
  #videos.in .video-container {
    height: 645px; }
  #videos.in .close {
    opacity: 1 !important; }
  #videos .audio-narrative {
    height: 88px;
    background: rgba(255, 255, 255, 0.9);
    display: block;
    margin-bottom: 10px;
    opacity: 0; }
    #videos .audio-narrative.in {
      opacity: 1; }
    #videos .audio-narrative .audio-narrative-icon {
      background: url("../images/narrative-play.svg") center center no-repeat;
      background-size: 40%;
      position: relative;
      display: block;
      top: 0;
      bottom: 0;
      border-right: 1px solid #444;
      width: 40px;
      height: 100%;
      float: left;
      padding: 0 20px;
      margin-right: 28px;
      opacity: 1; }
      #videos .audio-narrative .audio-narrative-icon.playing {
        background: url("../images/narrative-pause.svg") center center no-repeat; }
    #videos .audio-narrative span {
      float: left;
      color: #444;
      padding: 32px 0 30px;
      opacity: 1;
      font-size: 1.3em;
      letter-spacing: 0; }
  #videos .see-all {
    background: rgba(255, 255, 255, 0.9);
    display: block;
    font-size: 1rem;
    height: 22px;
    padding: 18px 0 16px;
    text-align: center;
    position: absolute;
    width: 100%;
    bottom: 0;
    z-index: 9;
    color: #444; }
    #videos .see-all:hover {
      background: rgba(242, 242, 242, 0.9); }
  #videos .video-container {
    position: absolute;
    width: 100%;
    bottom: 110px;
    overflow-y: hidden;
    overflow-x: visible;
    height: 0px; }
    #videos .video-container .close {
      opacity: 1; }
    #videos .video-container .video {
      width: 392px;
      height: 180px;
      border: 4px solid rgba(255, 255, 255, 0.9);
      background: white;
      position: relative;
      margin-top: 10px;
      display: block;
      overflow: hidden;
      z-index: 10; }
      #videos .video-container .video:first-of-type {
        margin-top: 60px; }
      #videos .video-container .video h2 {
        position: absolute;
        background: rgba(0, 0, 0, 0.75);
        bottom: 8px;
        left: 8px;
        right: 8px;
        padding: 19px 18px 17px;
        font-size: 1rem;
        font-weight: 500;
        text-indent: 48px;
        z-index: 10; }
        #videos .video-container .video h2:before {
          content: '';
          background: url("../images/video-play.svg") center left no-repeat;
          position: absolute;
          display: block;
          top: 0;
          bottom: 0;
          border-right: 1px solid rgba(255, 255, 255, 0.35);
          width: 30px; }
      #videos .video-container .video img {
        width: 100%;
        height: auto;
        position: absolute;
        -webkit-filter: grayscale(1); }

#detail-panel {
  width: 640px;
  background: white;
  z-index: 20;
  height: 100%;
  position: absolute;
  top: 0;
  right: -700px;
  color: #231f20;
  font-size: 125%; }
  #detail-panel.active {
    right: 0; }
  #detail-panel.larger {
    font-size: 150%; }
    #detail-panel.larger .text-size:after {
      background-image: url("../images/text-size-smaller.svg"); }
    #detail-panel.larger .media-container-thumbs li a span {
      font-size: 18px !important;
      padding: 7px !important;
      width: 13px !important;
      height: 16px !important; }
  #detail-panel .media-container {
    position: absolute;
    top: 0;
    width: 100%;
    height: 450px;
    border-bottom: 1px solid #d7d9d9; }
    #detail-panel .media-container.expanded {
      height: 575px; }
      #detail-panel .media-container.expanded + .container {
        top: 575px; }
    #detail-panel .media-container .media-container-inner {
      height: 450px;
      background: #f1f2f2;
      text-align: center;
      overflow: hidden;
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;
      align-content: center; }
      #detail-panel .media-container .media-container-inner .zoomer {
        position: absolute;
        top: 20px;
        left: 20px;
        max-width: 140px;
        max-height: 140px;
        z-index: 9;
        opacity: 0;
        overflow: hidden;
        pointer-events: none;
        box-sizing: border-box;
        box-shadow: 0 0 8px rgba(0, 0, 0, 0.5);
        border: 2px solid white; }
        #detail-panel .media-container .media-container-inner .zoomer.in {
          opacity: 1; }
        #detail-panel .media-container .media-container-inner .zoomer > img {
          max-width: 140px;
          max-height: 140px;
          display: block; }
        #detail-panel .media-container .media-container-inner .zoomer > .mask {
          background: rgba(232, 58, 23, 0.5);
          position: absolute;
          top: 0;
          transform-origin: 50% 50% 0; }
      #detail-panel .media-container .media-container-inner .instructions {
        transition: 0.5s opacity;
        position: absolute;
        z-index: 30;
        bottom: 15px;
        left: 50%;
        background: none;
        margin-left: -50px;
        width: 120px;
        height: 120px;
        opacity: 0;
        pointer-events: none;
        border-radius: 999px; }
        #detail-panel .media-container .media-container-inner .instructions.in {
          opacity: 1; }
        #detail-panel .media-container .media-container-inner .instructions.pan {
          background: rgba(0, 0, 0, 0.65) 16px 24px no-repeat;
          background-image: url(../images/icon-drag.svg);
          background-size: 70%; }
        #detail-panel .media-container .media-container-inner .instructions.zoom {
          background: rgba(0, 0, 0, 0.65) 15px 20px no-repeat;
          background-image: url(../images/icon-pinch.svg);
          background-size: 70%; }
      #detail-panel .media-container .media-container-inner .caption {
        position: absolute;
        z-index: 30;
        bottom: 0;
        left: 0;
        right: 0;
        background: rgba(0, 0, 0, 0.75);
        color: white;
        padding: 0 12px;
        height: 0px;
        overflow: hidden;
        text-align: left;
        line-height: 1.3;
        font-weight: 300; }
        #detail-panel .media-container .media-container-inner .caption.in {
          padding: 12px 16px;
          height: auto; }
        #detail-panel .media-container .media-container-inner .caption > strong {
          font-weight: 700; }
        #detail-panel .media-container .media-container-inner .caption > em {
          font-style: italic; }
      #detail-panel .media-container .media-container-inner > img {
        max-width: 100%;
        max-height: 100%;
        transform: scale(1);
        transform-origin: 50% 50% 0; }
    #detail-panel .media-container .media-container-thumbs {
      height: 94px;
      padding: 15px;
      border-top: 1px solid #d7d9d9;
      margin: 0;
      position: absolute;
      bottom: 0;
      width: 100%;
      background: white;
      overflow: hidden;
      overflow-x: auto;
      display: flex;
      width: 610px; }
      #detail-panel .media-container .media-container-thumbs ul {
        margin: 0;
        padding: 0;
        display: flex; }
      #detail-panel .media-container .media-container-thumbs li {
        float: left;
        margin-right: 15px; }
        #detail-panel .media-container .media-container-thumbs li a {
          height: 86px;
          width: 86px;
          border: 4px solid #afb5b5;
          display: block;
          position: relative; }
          #detail-panel .media-container .media-container-thumbs li a.active {
            border: 4px solid #fbc926; }
            #detail-panel .media-container .media-container-thumbs li a.active span {
              background: #fbc926;
              color: white; }
          #detail-panel .media-container .media-container-thumbs li a img {
            width: 100%;
            height: auto; }
          #detail-panel .media-container .media-container-thumbs li a span {
            position: absolute;
            bottom: 0;
            left: 0;
            background: #afb5b5;
            color: white;
            font-weight: 700;
            font-size: 16px;
            padding: 6px;
            width: 12px;
            text-align: left;
            line-height: 1.2;
            height: 14px; }
  #detail-panel .container {
    position: absolute;
    top: 450px;
    bottom: 0;
    padding: 40px;
    overflow: auto;
    left: 0;
    right: 0; }
    #detail-panel .container p {
      margin: 0 32px 10px 0; }
    #detail-panel .container p > strong {
      font-weight: 700; }
    #detail-panel .container p > em {
      font-style: italic; }
    #detail-panel .container footer {
      font-style: italic;
      font-size: 0.85em;
      border-top: 1px solid #d7d9d9;
      margin: 25px -40px 0 -40px;
      line-height: 1.4;
      padding: 30px 72px 0 40px; }

#drawer-panel {
  width: 640px;
  background: url(../images/drawer-background.png) no-repeat center center;
  background-size: 100%;
  background-color: #d7d9d9;
  z-index: 25;
  height: 100%;
  position: fixed;
  top: 0;
  right: -700px;
  color: #231f20; }
  #drawer-panel.active {
    right: 0; }
    #drawer-panel.active + #detail-panel {
      right: -100px; }
      #drawer-panel.active + #detail-panel.active {
        right: 640px; }
  #drawer-panel .container {
    position: relative;
    height: 100%; }
  #drawer-panel a {
    position: absolute; }
    #drawer-panel a.open img {
      -webkit-filter: drop-shadow(0 15px 15px rgba(0, 0, 0, 0.9));
      margin-top: -20px; }
    #drawer-panel a img {
      zoom: 50%;
      -webkit-filter: drop-shadow(0 0px 15px transparent);
      margin-top: 0; }

#captions {
  position: fixed;
  pointer-events: none;
  width: 100%;
  left: 0;
  bottom: 25px;
  text-align: center;
  display: block;
  z-index: 666;
  opacity: 0; }
  #captions.hidden {
    display: none; }
  #captions.in {
    opacity: 1;
    bottom: 57px; }
  #captions .caption-container {
    display: inline-block;
    width: auto;
    background: rgba(0, 0, 0, 0.75);
    color: white;
    padding: 14px 24px;
    border-radius: 99px;
    font-size: 27px;
    font-weight: 300; }

/*# sourceMappingURL=main.css.map */
