body {
    font-family: 'Open Sans';
}

h1 {
    margin: 0 0 15px;
    font-size: 36px;
    font-weight: 300;
}
h3 {
    margin: 0 0 10px;
    font-size: 16px;
    font-weight: 700;
    color: #666;
}
p {
    font-weight: 300;
    color: #333;
    margin: 0 0 8px;
    line-height: 1.6;
}
label {
    font-family: 'Montserrat';
    font-size: 13px;
    text-transform: uppercase;
    margin: 15px 0 10px;
    display: block;
    color: #FDD017;
}
