#drawer-panel {
    @extend .transition;

    width: 640px;
    background: url(../images/drawer-background.png) no-repeat center center;
    background-size: 100%;
    background-color: darken($light-gray, 10%);
    z-index: 25;
    height: 100%;
    position: fixed;
    top: 0;
    right: -700px;
    color: $black;

    &.active {
        right: 0;

        & + #detail-panel {
            right: -100px;

            &.active {
                right: 640px;
            }
        }
    }

    .container {
        position: relative;
        height: 100%;
    }

    a {
        position: absolute;
        
        &.open {
            img {
                -webkit-filter: drop-shadow(0 8px 15px rgba(0,0,0,0.75));
                margin-top: -15px;
            }
        }

        img {
            @extend .transition;

            zoom: 50%;
            -webkit-filter: drop-shadow(0 0px 15px rgba(0,0,0,0));
            margin-top: 0;
        }
    }
}