html, body {
    overflow: hidden;
}

#pano {
    width: 100%;
    height: 100%;
}

.text-size,
.close {
    @extend .gold;
    @extend .transition;

    position: absolute;
    z-index: 9;
    font-size: 27px;
    text-decoration: none;
    color: white;
    text-align: center;
    line-height: 0.9;
    height: 44px;
    width: 44px;
    box-shadow: 0 4px 0 rgba(0,0,0,0.1);

    &:hover {
        box-shadow: 0 4px 0 rgba(0,0,0,0.2);
    }

    &.bottom {
        bottom: 0;
        left: 50%;
        margin-left: -22px;
    }
    &.left {
        left: -44px;
        top: 44px;
    }
    &.right {
        right: 0;
        bottom: 44px;
    }
}
.close {
    &:after {
        content: '';
        background: url('../images/close.svg') no-repeat;
        position: absolute;
        width: 16px;
        height: 18px;
        top: 13px;
        left: 14px;
    }
}
.text-size {
    background: rgba($blue, 90%);
    width: 60px;
    height: 60px;
    
    &:after {
        content: '';
        background: url('../images/text-size-larger.svg') no-repeat;
        position: absolute;
        width: 36px;
        height: 26px;
        top: 16px;
        left: 14px;
    }
}

::-webkit-scrollbar {
    width: 8px;
}
::-webkit-scrollbar-track {
    @extend .transition;
    
    background: rgba(0,0,0,0.05);
    border-radius: 99px;    
}
::-webkit-scrollbar-thumb {
    @extend .transition;

    border-radius: 99px;
    background: rgba(0,0,0,0.1);
}
