#modal {
    display: block;
    width: 100%; 
    height: 100%; 
    background: rgba(0,0,0,0.85);
    position: fixed; 
    z-index: 999;
    transition: 0.5s all;
    opacity: 0;

    &.in {
        opacity: 1;
    }
    &.hidden {
        display: none;
    }

    .modal-container {
        position: fixed;
        top: 80px;
        bottom: 80px;
        right: 240px;
        left: 240px;

        video {
            width: 100%;
            height: auto;
            margin-bottom: 20px;
        }
        h2 {
            @extend .bold-spaced;

            width: 50%;
            float: left;
            margin: 24px 0;
            font-weight: 300;
            font-size: 21px;

            strong { font-weight: 700; margin-left: 8px; }
        }
        
        .video-mute-button {
            width: 64px;
            height: 64px;
            float: left;
            position: relative;
            background: url('../images/video-mute.svg') center center no-repeat;
            background-color: #FFF;
            background-size: 50%;
            border: 3px solid white;
            border-radius: 99px;
            margin-right: 25px;

            &.muted {
                background-color: transparent;
                background-image: url('../images/video-unmute.svg');

                &:after {
                    content: '';
                    border-bottom: 3px solid white;
                    transform: rotate(-45deg);
                    width: 65px;
                    position: absolute;
                    top: 31px;
                    bottom: 32px;
                }
            }
        }
        .video-play-button {
            width: 64px;
            height: 64px;
            float: left;
            position: relative;
            background: url('../images/video-pause.svg') center center no-repeat;
            background-size: 32%;
            border: 3px solid white;
            border-radius: 99px;
            margin-right: 15px;

            &.paused {
                background: url('../images/video-play.svg') center center no-repeat;
                background-size: 32%;
            }
        }
        .video-replay-button {
            width: 64px;
            height: 64px;
            float: left;
            position: relative;
            background: url('../images/video-replay.svg') center center no-repeat;
            background-size: 53%;
            border: 3px solid white;
            border-radius: 99px;
            margin-right: 15px;
        }

        input[type=range] {
            -webkit-appearance: none;
            width: 25%;
            height: 32px;
            float: right;
            top: 15px;
            position: relative;
            background: none;
        }
        input[type=range]::-webkit-slider-runnable-track {
            @extend .transition;
        
            width: 96%;
            margin: 12px auto;
            height: 12px;
            position: relative;
            background: rgba(255,255,255,0.25);
            border-radius: 8px;
        }
        input[type=range]::-webkit-slider-thumb {
            background: rgba(255,255,255,0.75);            
            -webkit-appearance: none;
            width: 12px;
            height: 12px;
            border-radius: 8px;
            position: absolute;
            left: 0;
            top: 0;
        }
        input[type=range]:focus {
            outline: none;
        }
        input[type=range]:focus::-webkit-slider-runnable-track {
            background: rgba(255,255,255,0.5);
        }
    }
}