#preloader {
    display: block;
    width: 100%; 
    height: 100%; 
    background: white;
    position: fixed; 
    z-index: 9999;
    transition: 0.5s all;
    opacity: 0;

    &.in {
        opacity: 1;
    }
    &.hidden {
        display: none;
    }

    img {
        max-width: 100%;
        height: auto;
    }
    .container {
        width: 400px;
        margin: 400px auto 0;
        text-align: center;
    }
    .loading {
        background: #FFFFFF url(../images/ellipsis.svg) no-repeat center center;
        width: 80px;
        height: 40px;
        margin: 0 auto;
    }
}

#hidden {
    display: none;
}